@import './blocks/reset';
@import './blocks/highlight';

@import './liquid-tags/LiquidTags';

a {
  color: #0366d6;
  text-decoration: none;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #525252;
  display: block;
}

p > code {
  margin: auto;
  background: #f9f9fa;
  padding: 0.1em 0.3em 0px;
  border-radius: 2px;
  color: #333842;
  font-size: 0.84em;
  vertical-align: 0em;
  max-width: 100%;
  line-height: 1.6em;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: transparent;
}

body {
  margin: 0;
}